﻿@model Mycompany.Web.Models.Home.IndexViewModel
@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
        </div>
    </section>
}

@section scripts{
    <script>
        (function () {
            'use strict';

            document.getElementById('@Html.IdFor(t => t.Dates)').addEventListener('change', function () {
                window.location.href = '@Url.Action("Index")?date=' + this.value;
            });
        }())
    </script>
}


<select id="@Html.IdFor(t => t.Dates)" name="@Html.NameFor(t => t.Dates)">
    @foreach (var item in Model.Dates)
    {
        <option @(item.Date.Date == Model.Date.Date ? "selected='selected'" : "") value="@item.Date.Date">@item.Date.ToShortDateString()</option>
    }
</select>

<a href="@Url.Action("Sessions", new { date = Model.Date.ToShortDateString() })">Добавить</a>
<table>
    <tr>
        <td>
            Кинотеатр
        </td>
        <td>
            Фильм
        </td>
        <td>
            Сеансы
        </td>

    </tr>
    @{
        int i = 0;
        while (i < Model.Schedule.Count)
        {
            var currentCinema = Model.Schedule[i].Cinema.Id;
            <tr>
                <td>@Model.Schedule[i].Cinema.Title</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            while (i < Model.Schedule.Count && currentCinema == Model.Schedule[i].Cinema.Id)
            {
                var currentFilm = Model.Schedule[i].Film.Id;
                <tr>
                    <td></td>
                    <td>@Model.Schedule[i].Film.Title</td>
                    <td></td>
                    <td><a href="@Url.Action("Sessions", new { cinemaId = currentCinema, filmId = currentFilm, date = Model.Date.ToShortDateString() })">Редактировать</a></td>
                </tr>
                while (i < Model.Schedule.Count && currentFilm == Model.Schedule[i].Film.Id)
                {

                    <tr>
                        <td></td>
                        <td></td>
                        <td>@Model.Schedule[i].Date.TimeOfDay</td>
                        <td></td>

                    </tr>
                    i++;
                }
            }
        }
    }

</table>
