﻿@{
	ViewBag.Title = "About";
}
@model Mycompany.Web.Models.Home.SessionsModel
@section featured {
	<section class="featured">
		<div class="content-wrapper">
			<hgroup class="title">
				<h1>@ViewBag.Title.</h1>
				<h2>@ViewBag.Message</h2>
			</hgroup>
		</div>
	</section>
}

@section scripts{

	<script src="~/Scripts/sessions.js"></script>

	<script>
		(function() {
			'use strict';
			window.app.sessions({
				'add-button-id': 'add-button',
				'delete-button-id': 'delete-button',
				'time-list-id': 'time-list',
				'time-list-h-id': 'time-list-h',
				'date-input-id': 'date',
				'new-time-input-id': 'new-time',
				'select-sinema-id': '@Html.IdFor(t => t.CinemaId)',
				'select-film-id': '@Html.IdFor(t => t.FilmId)',
				redirectUrl: '@Url.Action("Sessions")'
			});
		}())
	</script>
}

@Html.ValidationSummary(false)

@using (Html.BeginForm("SaveSchedule", "Home", FormMethod.Post)) {
	<table>
		<tr>
			<td>
				Кинотеатр
			</td>
			<td>

				<select id="@Html.IdFor(t => t.CinemaId)" name="@Html.NameFor(t => t.CinemaId)">
					<option>----</option>
					@foreach (var item in Model.Cinemas) {
						<option @(item.Id == Model.CinemaId ? "selected='selected'" : "") value="@item.Id">@item.Title</option>
					}
				</select>

			</td>
		</tr>

		<tr>
			<td>
				Фильм
			</td>
			<td>

				<select id="@Html.IdFor(t => t.FilmId)" name="@Html.NameFor(t => t.FilmId)">
					<option>----</option>
					@foreach (var item in Model.Films) {
						<option @(item.Id == Model.FilmId ? "selected='selected'" : "") value="@item.Id">@item.Title</option>
					}
				</select>
			</td>
		</tr>

		<tr>
			<td>
				Дата
			</td>
			<td>
				<input id="date" name="@Html.NameFor(t => t.Date)" type="date" value="@((Model.Date ?? DateTime.Now).ToString("yyyy-MM-dd"))"/>
			</td>
		</tr>

		<tr>
			<td>
				Сеансы
			</td>
			<td>
				<input type="time" id="new-time"/>
				<input type="button" id="add-button" value="Добавить"/>

				<div id="time-list-h">

					@foreach (var item in Model.Sessions) {
						<input name="Times" type="hidden" value="@item.Date"/>
					}

				</div>

				<select id="time-list" size="@(Model.Sessions.Count() + 5)" style="width: 10em">

					@foreach (var item in Model.Sessions) {
						<option>
							@item.Date.ToString("HH:mm")
						</option>
					}

				</select>
			</td>

		</tr>

	</table>

	<input type="submit" value="Сохранить"/>
	<input type="button" id="delete-button" value="Удалить"/>
}